<div class="page-header">
  <%= link_to new_list_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  
  <% if user_signed_in? %>
  New List
  <%else %>
  New Guest List
  <% end %>
  <% end %>
  <h1>Listing lists</h1>
  
</div>
<%#= current_user.inspect %>
<ul class="list-group bg-info">

<%= render partial: "listBox", collection: @lists, as: :list %>

</ul>
