<li class="list-group-item clearfix">
	<!-- <span class="label label-default label-pill pull-xs-right"></span> -->
	<%= link_to "#{task.title}", [@list, task] %>
	<span class= "pull-right ">
		
		<%= link_to complete_list_task_path(@list, task), method: :patch, class: 'btn btn-primary pull-xs-right' do %>
		<span class="glyphicon glyphicon-ok"></span>
		
		<% end %>
		<%= link_to edit_list_task_path(@list, task), class: 'btn btn-primary pull-xs-right' do %>
		<span class="glyphicon glyphicon-pencil"></span>
		
		<% end %>
		<%= link_to list_task_path(@list, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary pull-xs-left' do %>
		<span class="glyphicon glyphicon-remove-circle"></span>
		
		<% end %>
	</span>
	
	
	
	
</li>